<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <link rel="stylesheet" th:href="@{../css/showblog.css}">
    <link rel="stylesheet" th:href="@{../css/examples/style.css}" />
    <link rel="stylesheet" th:href="@{../css/editormd.css}" />
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?56d70f6a9f7c7635f4c92ca2ee27f703";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>

<div id="blog-area">
    <div id="title-area"><p id="blog-title-word" th:text="${passage.getTitle()}"></p></div>
    <div id="context-area">
        <div id="test-editormd">
<!--            <textarea style="display:none;" th:text="${passage.getContext()}"></textarea>-->
        </div>
    </div>
</div>


<script th:src="@{../js/examples/jquery.min.js}"></script>
<script th:src="@{../lib/marked.min.js}"></script>
<script th:src="@{../lib/prettify.min.js}"></script>
<script th:src="@{../lib/raphael.min.js}"></script>
<script th:src="@{../lib/underscore.min.js}"></script>
<script th:src="@{../lib/sequence-diagram.min.js}"></script>
<script th:src="@{../lib/flowchart.min.js}"></script>
<script th:src="@{../lib/jquery.flowchart.min.js}"></script>
<script th:src="@{../js/editormd.min.js}"></script>
<script type="text/javascript">

    var testEditor;

    $(function () {
        testEditor = editormd.markdownToHTML("test-editormd", {
            width: "90%",
            height: 700,
            path: "../lib/",
            preview: true,
            watch: true,
            editor: false,
        })
    })
</script>
<script th:inline="javascript">
    let courseAvgs = [[${passage}]];
    var cent = document.getElementById("test-editormd");
    cent.innerHTML += " <textarea style=\"display:none;\">"+courseAvgs.context+"</textarea>"
    console.log(courseAvgs);
</script>

</body>
</html>